<div>
  <dx-text-box
    [(value)]="filterTextValue"
    placeholder="Filter users..."
    width="300"
    [showClearButton]="true"
    [showMaskMode]="'always'"
    valueChangeEvent="keyup"
    (onValueChanged)="onFilterChange($event)"
  >
  </dx-text-box>
  <div class="btn-container">
    <dx-button type="default" (click)="clearFilter()">Clear</dx-button>
    <dx-button class="create-user" type="default" (click)="goToCreate()">Create New User</dx-button>
  </div>
</div>

<dx-data-grid
  class="w-100"
  [dataSource]="filteredUsers()"
  [showBorders]="true"
  [allowColumnResizing]="true"
>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 20,50]"
    [showInfo]="true"
  ></dxo-pager>
  <dxi-column dataField="firstName" caption="First Name"></dxi-column>
  <dxi-column dataField="lastName" caption="Last Name"></dxi-column>
  <dxi-column dataField="email" caption="Email"></dxi-column>
  <dxi-column dataField="country" caption="Country"></dxi-column>
  <dxi-column
    dataField="createdAt"
    caption="Created At"
    [calculateCellValue]="formatDate"
  ></dxi-column>
  <dxi-column
    caption="Actions"
    [allowResizing]="false"
    cellTemplate="actionCell"
  ></dxi-column>
  <ng-container *dxTemplate="let data of 'actionCell'">
    <div class="action-buttons">
      <dx-button
        icon="edit"
        stylingMode="contained"
        type="default"
        (onClick)="goToEdit(data.data.email)"
        hint="Edit User"
      >
      </dx-button>

      <dx-button
        icon="trash"
        stylingMode="outlined"
        type="danger"
        class="ml-2"
        (onClick)="deleteUser(data.data.email)"
        hint="Delete User"
      >
      </dx-button>
    </div>
  </ng-container>
</dx-data-grid>
